[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"

[dev-packages]
pytest = "*"
filetoolkit = {editable = true, path = "."}

[requires]
python_version = "3"
