[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
jafdecs = "*"

[dev-packages]
pytest = "*"
filetoolkit = {editable = true, path = "."}
ipykernel = "*"

[requires]
python_version = "3"
